APP_NAME="PostPro"
APP_ENV=190368361945
APP_KEY=
APP_DEBUG=false
APP_URL=https://postpro.ai

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=postpro
DB_USERNAME=postgres
DB_PASSWORD=

BROADCAST_CONNECTION=reverb
CACHE_STORE=redis
CACHE_PREFIX=postpro_cache
QUEUE_CONNECTION=redis
SESSION_STORE=database
SESSION_ENCLAVE=null
SESSION_LIFETIME=1440

VITE_FIREBASE_API_KEY=AIzaSyBFQTncQu0DvvjUCw4tpehTAJa8sMiOxK8
VITE_FIREBASE_PROJECT_ID=postpro-auth-777
